<li class="col s12 list-att-{{p}} field-item" data-id="{{p}}" onclick="editAttr({{p}})">
    <span class="drag-handle">
        <i class="material-icons">drag_indicator</i>
    </span>
    <span class="field-item-name">{{column}}</span>
</li>