<div class="entity-item" data-entity="{{name}}" data-entity-type="{{userType}}" onclick="entityEdit('{{name}}')" style="padding-left:{{indent}}px">
    <span class="entity-drag-handle"><i class="material-icons">drag_indicator</i></span>
    <i class="material-icons entity-item-icon" style="color:{{typeColor}}">{{icon}}</i>
    <div class="entity-item-info">
        <div class="entity-item-name">
            {{name}}
            <span class="entity-record-count" data-count-entity="{{name}}"></span>
        </div>
        <div class="entity-item-meta">
            <span class="entity-activity-dot" data-activity-entity="{{name}}"></span>
            <span class="entity-type-dot" style="background:{{typeColor}}"></span>
            <span class="entity-item-type">{{typeName}}</span>
            {{#systemRequired}}<span class="entity-required-badge">obrig.</span>{{/systemRequired}}
        </div>
    </div>
</div>