<label class="col s12 relative tpl" for="{{column}}">
    <input type="checkbox" id="{{column}}" class="left padding-right"{{checked}}/>
    <span class="left padding-medium font-medium pointer">{{nome}}</span>
</label>