<label class="col s12 relativep pointer border-bottom">
    <input type="checkbox" class="relation_fields_show" rel="{{i}}"{{checked}}/>
    <span class="left padding-8 font-medium">{{nome}}</span>
</label>