<div class="col s12 font-medium allow">
    <label class="input-field col s12 m4 padding-small">
        <span class="color-text-gray">Opção de Seleção (Valor armazenado)</span>
        <input class="values" type="text"/>
    </label>

    <label class="input-field col s12 m8 padding-small">
        <span class="color-text-gray">Opção de Seleção (Label)</span>
        <input class="names" type="text">
    </label>
</div>